.container {
  background-color: #ffffff;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 5px;
  margin: 60px auto;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  background-color: #84a9ac;
  border: #005082;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  max-width: 580px;
  margin: 20px auto;
  font-family: "Barlow Condensed", sans-serif;
}

#change-city {
  max-width: 540px;
  margin-bottom: 20px;
}

button {
  height: 38px;
  width: 150px;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
}

#date {
  color: #005082;
  font-weight: 900;
  font-size: 20px;
  text-align: left;
}

.city {
  color: #b2c21f;
  font-weight: 900;
  font-size: 38px;
}

.col-7 {
  text-align: left;
  padding-left: 30px;
}

.col-5 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: auto;
}

img {
  display: block;
  height: 135px;
  position: relative;
  top: 15px;
  left: 20px;
}


.info {
  line-height: 30px;
  font-size: 16px;
  list-style-type: none;
  display: inline;
  padding-bottom: 20px;
}

.row-col-5 {
  background-color: lightslategray;
  border-radius: 5px;
  column-width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col {
  align-items: center;
  margin-left: -35px;
}

small {
  padding: 10px;
}

#temperature-value {
  font-size: 50px;
  position: relative;
  top: 0px;
  left: 37px;
}

.units {
  position: relative;
  top: -25px;
  left: 37px;
  font-size: 16px;
}

.forecast {
  text-align: center;
  font-size: 12px;
  list-style-type: none;
  //color: white;
}

.realTimeInfo .active {
  color: rgb(84, 84, 84);
  cursor: default;
  text-decoration: none;
}

//.realTimeInfo .active.hover {
  text-decoration: none;
}
